body {
    background-color: mediumturquoise;
    font-family: Arial;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input {
    height: 100px;
    width: 260px;
}
p {
    margin-top: 40px;
    font-size: 3em;
    font-weight: 900;
}
.inp {
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: 800;
}
#btn {
    font-size: 2em;
    font-weight: 900;
    margin-top: 140px;
}
